<div class="main-info">
    <p>
        Hello and welcome to my personal site! I am a software engineer with over
         two years of experience. I am currently working at Missouri Employers Mutual 
         as a software engineer and recently took on the role of team lead. In this role, 
         I have had the opportunity to define team standards and lead an upgrade initiative 
         for our portal applications. I am excited to continue learning and 
         growing in my career.
    </p>
</div>

<style>
	.main-info {
		max-width: 50rem;
	}
	.main-info p {
		font-size: 1.5rem;
		font-weight: 300;
	}
</style>