---
import SideNav from "../../../components/SideNav.astro";
import ResumeItem from "../../../components/ResumeItem.astro"

const allJobs = await Astro.glob('./jobs/*.md');
---

<div class="main-container">
	<div class="main-info">
		{allJobs.map((job) => <ResumeItem jobData={job} />)}
	</div>
</div>

<style>
	.main-container {
		display: flex;
	}
	.main-info {
		width: 55rem;
	}
</style>