@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.ttf');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.ttf');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(60px);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-60px);
  }
}

::view-transition-old(root) {
  animation: 110ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    320ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(root) {
  animation: 230ms cubic-bezier(0, 0, 0.2, 1) 110ms both fade-in,
    320ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

.header-container {
  view-transition-name: main-header;
  contain: layout;
}
  